{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}
{% block heading %}
    <h2><i class="fa fa-home" aria-hidden="true"></i> Add Technology</h2>

    </span>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common.min.css"/>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.default.min.css"/>
<!-- Latest compiled JavaScript -->
<!--Load Kendo styles from the Kendo CDN service-->
  <script src="{% static 'js/add_technology_save.js' %}"></script>

<!--Load the required libraries - jQuery, Kendo, Babel and Vue-->



{% endblock %}
{% block content %}


<style>
@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css')

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
.funkyradio{
    display: inline;
}
.radio-label {

  width: 100%;

  margin-bottom: 1em;

  text-align: center;

}



.radio-pillbox {

  height: 3em;

  width: 100%;

  font-size: 1em;

  border: 0;
  border-radius: 5px;

  overflow: hidden;

  background: steelblue;

  background: steelblue;

  background: steelblue;

  background: steelblue ;

  background: steelblue;

  color: white;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}



.radio-pillbox radiogroup {

  height: 100%;

  width: 100%;

  display: flex;

}



.radio-pillbox radiogroup div {

  width: 100%;

  position: relative;

}



.radio-pillbox radiogroup div input {

  -webkit-appearance: inherit;

  width: 100%;

  height: 100%;

  transition: background 300ms ease-out;

  margin: 0;

  outline: 0;

  border-left: 1px solid rgba(0, 0, 0, 0.05);

}



.radio-pillbox radiogroup div input:checked {

  color: #5f6982;

  border: none;

  box-shadow: inset 0 10px 50px rgba(25, 25, 25, 0.1);

}



.radio-pillbox radiogroup .first {

  border-radius: 75px 0 0 75px;

  border-left: none;

}



.radio-pillbox radiogroup .last { border-radius: 0 75px 75px 0; }



.radio-pillbox radiogroup div label {

  position: absolute;

  top: 50%; /* top plus line-height centers text */

  line-height: 0;

  left: 0;

  width: 100%;

  height: 100%;

  text-align: center;

}


.radio-pillbox input:focus { outline: 0; }



.radio-pillbox label:after {

  content: "\2714";

  display: inline-block;

  -webkit-transform: scale(0);

  -moz-transform: scale(0);

  -o-transform: scale(0);

  -ms-transform: scale(0);
  transform: scale(0);

  -webkit-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms,  -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);

  -moz-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms,  -moz-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);

  -o-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms,  -o-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);

  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms,  transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);

}



.radio-pillbox input:checked + label:after {

  margin-left: 12px;

  -webkit-transform: scale(1.25);

  -moz-transform: scale(1.25);

  -o-transform: scale(1.25);

  -ms-transform: scale(1.25);

  transform: scale(1.25);

  -webkit-transition: -webkit-transform 500ms  cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms,  margin 500ms,  -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;

  -moz-transition: -moz-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)  250ms,  margin 500ms,  -moz-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;

  -o-transition: -o-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)  250ms,  margin 500ms,  -o-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;

  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms,  margin 500ms, transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;

}
</style>

<body>
<div class="content">
		<div class="col-md-12">
			<div class="card">

				<div class="card-body">
					<form action="" method="POST">
                         <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                         <label class="control-label">Technology</label>


                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                             <input type="text" class="form-control" name="technology" id="tech">
                        </div>
                      </div>
                    </div>

                         <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                         <label class="control-label">Digital</label>


                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">


                        <div class="funkyradio">

                     <div class="funkyradio-success">
                         <input type="radio" name="digital" value="Yes" id="radioa" />
                                                        <label for="radioa">Yes</label>

                                                    </div>
                                            </div>

                                            </div>
                                          </div>
                                                 <div class="col-md-2">
                                            <div class="form-group">


                                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="digital" value="No" id="radiob" />
                                    <label for="radiob">No</label>

                                </div>

                        </div>

                        </div>
                      </div>

                    </div>
                         <div class="row">
                      <div class="col-md-2">
                        <div class="form-group">
                         <label class="control-label">Tag</label>


                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                             <select class="selectpicker" multiple data-live-search="true" name="apptype" id="tag">
                                <option value="UI">UI</option>
                                 <option value="Cloud" >Cloud</option>
                                 <option value="ETL">ETL</option>
                                 <option value="Bigdata">Bigdata</option>
                                 <option value="Database">Database</option>
                                 <option value="Mobile">Mobile</option>
                                 <option value="BI">BI</option>
                                 <option value="Machine Learning">Machine Learning</option>
                                 <option value="Data Warehouse">Data Warehouse</option>
                                 <option value="ORM">ORM</option>
                                 <option value="Web Testing">Web Testing</option>
                                 <option value="Web Aplication">Web Aplication</option>
                                 <option value="Desktop">Desktop</option>
                                 <option value="Web Services">Web Services</option>
                                 <option value="Configuration">Configuration</option>

  </select>
                        </div>
                      </div>
                    </div>


                        <div class="clearfix"></div>

                         <div class="row">
                      <div class="col-md-8">

						<button type="submit" onclick="addtech()" class="btn btn-primary pull-right" >ADD</button>
                      </div>
                         </div>
                        </form>




				</div>
			</div>
		</div>
        <div class="row">
                <div class="col-md-12 col-lg-12">
                       <h3 >Tecnology Lists</h3>
                       <div id="grid" ></div>
                </div>
        </div>
</div>

<script>

        $(document).ready(function () {
$('select').selectpicker();


   $("#grid").kendoGrid({

   dataSource: {{result_entries|safe}}, // Result from from Django View
    resizable: false,

   sortable: {
     mode: 'multiple',
     allowUnsort: true
  },
  filterable: true,

  pageable: {
    pageSize: 15,
    pageRefresh:true,
  },
  editable: {
     confirmation: "Are you sure that you want to delete this record?",
     mode: 'popup'
  },
columns: [
    {
        field: "id",
        title: 'Id',
        width: "100px",
        defaultValue: null
    },
     {
        field: "technology",
        title: 'Technology',
        defaultValue: null,
         width: "150px"
    },
     {
        field: "digital",
        title: 'Digital',
        defaultValue: null,
         width: "90px"
    },
    {
        field: "apptype",
        title: 'Tag',
        defaultValue: null
    },
    {
        field: "app_final",
        title: 'Final Category',
        defaultValue: null
    }
    ],
   sortable: {
     mode: 'multiple',
     allowUnsort: true
},
filterable: true,
   editable:true
});

});

</script>
</body>



{% endblock %}