{% load staticfiles %}



<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Employee Skill Portal {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'inspinia-2.3/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'inspinia-2.3/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'inspinia-2.3/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'inspinia-2.3/css/style.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Style block for custom CSS -->
    {% block style %} {% endblock %}

</head>

<body class="fixed-sidebar">

    {% block contentblock %}

    <div id="wrapper">

        {% include 'webapp/sidebar.html' %}

        <div id="page-wrapper" class="white-bg">
            <nav class="navbar navbar-default no-margin">
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn navbar-link "  href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    {% block heading %}
                    <h1></h1>{% endblock %}

                </div>
            </nav>
            <div class="wrapper wrapper-content animated fadeInRight">

                {% include 'webapp/messages.html' %} {% include 'webapp/form_errors.html' %} {% block content %}{% endblock %}

            </div>

        </div>

    </div>
    {% endblock %}
    <!-- jQuery JS -->

    <!-- Inspinia & Bootstrap CSS -->
    <script type="text/javascript" src="{% static 'inspinia-2.3/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'inspinia-2.3/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'inspinia-2.3/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'inspinia-2.3/js/inspinia.js' %}"></script>
    <script type="text/javascript" src="{% static 'inspinia-2.3/js/plugins/pace/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'inspinia-2.3/js/bootstrap-multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-circle-progress-master/jquery-circle-progress-master/dist/circle-progress.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"></script>

    <!-- Script block for custom JS -->
    {% block script %}{% endblock %}

</body>

</html>