<div class="col-xs-12 col-md-10 m-0-bottom">
        <div class="row">
            <div class="col-xs-2 col-sm-1 col-lg-2">
                <div class="row">
                    <div class="col-xs-12 p-0-right">

        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm-11 col-lg-10 p-md-left-sm-md p-md-left-xs-sm p-md-left-lg">
                <div class="m-0-top-bottom ellipsis">
                            <div class="d-lg-none d-xl-none">
                    <a href="{% url 'profile-details' %}">John</a>


        <h4 class="m-0 freelancer-tile-title ellipsis d-none d-lg-block d-xl-block"
            data-qa="tile_title">
                                Python Back-End Developer
        </h4>



                                            </div>
                </div>
                                                    <div class="row">
                        <div class="col-xs-12">
                                            <div data-freelancer-tile-specialization-line
             data-is-service-profile="true"
             data-service-profile-names="[&quot;Back-End Development&quot;]">
                                <span class="d-none">
                Specializes in Back-End Development,            </span>

        </div>

                        </div>
                    </div>
                                                    <div class="row m-sm-top m-0-bottom">
                        <div class="col-xs-12">

                                                                                        <div class="d-lg-none"
             data-freelancer-description
             data-chars-threshold="80"
             data-profile-description='"I&amp;#039;m experienced Python Developer. Develop Python code fast and clean. Design Rest-API and structure backend and data flow on DB. My believe is that communication is the key tool that plays a very important role in any successful project. I always try to provide my clients simple yet efficient solutions that best satisfy their needs. "'
             data-use-sanitized-user-data='"1"'>        <span class="d-none">I&amp;#039;m experienced Python Developer. Develop Python code fast and clean. Design Rest-API and structure backend and data flow on DB. My believe is that communication is the key tool that plays a very important role in any successful project. I always try to provide my clients simple yet efficient solutions that best satisfy their needs. </span>
    </div>
        <div class="d-none d-lg-block"
             data-freelancer-description
             data-chars-threshold="160"
             data-profile-description='"I&amp;#039;m experienced Python Developer. Develop Python code fast and clean. Design Rest-API and structure backend and data flow on DB. My believe is that communication is the key tool that plays a very important role in any successful project. I always try to provide my clients simple yet efficient solutions that best satisfy their needs. "'
             data-use-sanitized-user-data='"1"'>        <span class="d-none">I&amp;#039;m experienced Python Developer. Develop Python code fast and clean. Design Rest-API and structure backend and data flow on DB. My believe is that communication is the key tool that plays a very important role in any successful project. I always try to provide my clients simple yet efficient solutions that best satisfy their needs. </span>
    </div>

                        </div>
                    </div>
                                <!--Skills-->
                                                                                                <div class="skills-section">
                <ul class="">
                    <li><strong>Databases - </strong></li>
                                    <li>
                                                                            <span class="o-tag-skill m-sm-top m-0-bottom"
                                data-ng-click="linkClicked($event, 'attribute', '~01a07440e6af3cc77e')"
                                data-log-trigger="click"
                                data-log-event="click"
                                data-prevent-navigation="false"
                                data-log-label="skill pill"
                            >PostgreSQL Administration</span>
                                            </li>
                                    <li>
                                                                            <span class="o-tag-skill m-sm-top m-0-bottom"
                                data-ng-click="linkClicked($event, 'attribute', '~01a07440e6af3cc77e')"
                                data-log-trigger="click"
                                data-log-event="click"
                                data-prevent-navigation="false"
                                data-log-label="skill pill"
                            >MS SQL</span>
                                            </li>
                                                    </ul>
            </div>