{% extends "webapp/base.html" %} {% load staticfiles %} {% block title %}{% endblock %} {% block heading %}
<h2><i class="fa fa-cogs" aria-hidden="true"></i> Settings</h2>

</span>
{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-1">
        <label class="control-label">Technology</label>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <select class="form-control" id="listCrawler" name="listCrawler" required="true">

                <option value="" selected disabled>Select</option>
                {% for c in contexts %}
                <option value="{{c.id}}">{{c.company}}</option>
                {% endfor %}
            </select>
        </div>

    </div>
    <button type="button" id="add_crawler" class="btn" style="margin-top: -1px;margin-left: 6px;width: 40px;background: #00ACAE;color: #FFF;">+</button>

    <div id="add_new_crawler">
        <div id="crawler" class="hide">
            <div>
                <label for="new_crawler_name">Add New </label>
                <input type="new_crawler_name" name="new_crawler" id="new_crawler_name" class="form-control input-md">
                <button type="button" id="createCrawler" onclick="createCrawler()" class="btn btn-primary" data-loading-text="Sending info.." style="background: #00ACAE;color: #FFF; margin-left: 44px;margin-top: 11px;"> <em class="icon-ok"></em>Add</button>
            </div>
        </div>
    </div>
</div>
<button type="button" id="runCrawler" onclick="runCrawler()" class="btn btn-primary" style="background: #00ACAE;color: #FFF;margin-left: 335px;margin-top: 11px;">Run</button>

<script>
    $(document).ready(function() {
        $('#sidebar-dashboard').removeClass('active');
        $('#sidebar-crawler-setting').addClass('active');
    });

    $('#runCrawler').hide();

    $('#listCrawler').on('change', function() {
        $('#runCrawler').show();

    });

    function runCrawler() {

        var formData = new FormData();
        formData.append('crawler_id', $('#listCrawler').val());
        $.ajax({

                
            url: "{% url 'run-crawler' %}",
               type: 'POST',
               data: formData,
            contentType: false,
                cache: false,
                processData: false,
                success: function(data, textStatus, jqXHR) {
                swal({
                        title: "Success!",
                        text: " Done.",
                        type: "success",
                        confirmButtonColor: "#AEDEF4",
                        confirmButtonText: "OK"
                    },
                    function() {

                    });
            },
                error: function(jqXHR, textStatus, errorThrown) {     
                console.log("Error");    
            }     
        });
    }

    $(function() {
        $('#add_crawler').popover({

            placement: 'bottom',
            title: 'Crawler',
            html: true,
            content: $('#crawler').html()
        })
    })

    function createCrawler() {

        var formData = new FormData();
        formData.append('new_crawler_name', $('#new_crawler_name').val());
        $.ajax({

                
            url: "{% url 'create-crawler' %}",
               type: 'POST',
               data: formData,
            contentType: false,
                cache: false,
                processData: false,
                success: function(data, textStatus, jqXHR) {
                swal({
                        title: "Success!",
                        text: "Done",
                        type: "success",
                        confirmButtonColor: "#AEDEF4",
                        confirmButtonText: "OK"
                    },
                    function() {

                    });
            },
                error: function(jqXHR, textStatus, errorThrown) {     
                console.log("Error");    
            }     
        });
    }
</script>

{% endblock %}