{% if form.errors %}
    <div class="container">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger error-message" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ field.label }}:</p>
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
