{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}
{% block heading %}
    <h2><i class="fa fa-home" aria-hidden="true"></i> Skills Search</h2>

    </span>
{% endblock %}

{% block content %}
  <h2>Search</h2>

<div class="main">

  <div class="form-group has-search">

      <input type="text"  id="search_company" class="form-control" placeholder="Search" style="width: 80%;display: inline-block;"/>
          <button type="button" class="btn btn-default" id ="search_company_btn"  onclick="searchJob()" style="vertical-align: top;">
            <span class="glyphicon glyphicon-search"></span>  Search
          </button>

    <div class="container" id="content">


    </div>

</div>

</div>

<script>

$("#search_company").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#search_company_btn").click();
    }
});
 function searchJob() {

          var formData = new FormData();
          formData.append('technology_name', $('#search_company').val());
           $.ajax({

                url:"{% url 'get-salary-details' %}",
                type: 'POST',
                data:formData,
                contentType: false,
                cache: false,
                processData:false,
                success: function(data, textStatus, jqXHR){
                    $('#content').html(data.html);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                      console.log("Error");
                    }     
            });
   }
</script>
{% endblock %}

