{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
