{% extends "webapp/base.html" %} {% load staticfiles %} {% block title %}{% endblock %}

{% block content %}
<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
height:550px;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {


// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())

chart.data = [
  {
    name: "Biswajit Moharana",
    children: [
      {
        name: " Web",
        children: [
          { name: "Node.js", value: 100 },
          { name: "Asp.Net", value: 60 }
        ]
      },
      {
        name: "Cloud",
        children: [
          { name: " AWS IAM", value: 135 },
          { name: " AWS MobileHub", value: 98 }
        ]
      },
      {
        name: "Data Base",
        children: [
          {
            name: "Postgres",
            children: [
              { name: "Postgres", value: 130 },
              { name: "MYSQL", value: 87 },
              { name: "Oracle", value: 55 }
            ]
          },
          { name: "MYSQL", value: 148 },
          {
            name: " Mongo DB", children: [
              { name: "CC1", value: 53 },
              { name: "CC2", value: 30 }
            ]
          },
          { name: "Oracle", value: 26 }
        ]
      },
      {
        name: "Mobile",
        children: [
          { name: "Android", value: 415 },
          { name: " Appium", value: 148 },
          { name: " CORDOVA", value: 89 }
        ]
      },
      {
        name: "UI",
        children: [
          {
            name: "JavaScript",
            children: [
              { name: "EE1", value: 33 },
              { name: "EE2", value: 40 },
              { name: "EE3", value: 89 }
            ]
          },
          {
            name: "Backbone JS",
            value: 148
          }
        ]
      }

    ]
  }
];

networkSeries.dataFields.value = "value";
networkSeries.dataFields.name = "name";
networkSeries.dataFields.children = "children";
networkSeries.nodes.template.tooltipText = "{name}:{value}";
networkSeries.nodes.template.fillOpacity = 1;
networkSeries.manyBodyStrength = -20;
networkSeries.links.template.strength = 0.8;
networkSeries.minRadius = am4core.percent(2);

networkSeries.nodes.template.label.text = "{name}"
networkSeries.fontSize = 10;

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
<!--amCharts-->
{% endblock %}