{% load static %}
<nav class="navbar-default navbar-static-side" role="navigation">

    <div class="sidebar-collapse">

        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header" style="padding-top: 2px; padding-bottom: 11px;background: #6fab87;">

                <div class="text-center">

                    <a href="/">
                        <img  src="{% static 'images/emp_skills.png' %}" height="100" width="100" />
                        <h2 style="ont-size: 24px;font-weight: initial;">Employee Skill Portal</h2>
                    </a>
                </div>

            </li>
             <li id="sidebar-addtech" class="active">
                <a href="{% url 'addtech' %}">
                    <i class="fa fa-home"></i> <span class="nav-label">Add Technology</span>
                </a>

            </li>

            <li id="sidebar-dashboard" class="active">
                <a href="{% url 'dashboard-index' %}">
                    <i class="fa fa-home"></i> <span class="nav-label">Skills Search</span>
                </a>

            </li>

            </li>
            <li id="sidebar-crawler-setting">
                <a href="{% url 'crawler-setting' %}">
                    <i class="fa fa-cogs" aria-hidden="true"></i><span class="nav-label">Settings</span>
                </a>
            </li>

        </ul>

    </div>

</nav>