<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

     <br>


      {% for e  in emp %}
    <span><h2 class="same_line">

        <a href="{% url 'profile' %}?id={{e.ibs_empid}}">{{e.emp_name}}</a></h2></span><br><br><br>
        <span> Employee Id    :   <h4 class="same_line">{{e.ibs_empid}}</h4></span> <br><br>
  <span>Designation  :  <h4 class="same_line">{{e.designation}}</h4> </span><br><br>
  <span>Info   :  <h4 class="same_line">{{e.about}}</h4></span><br><br>
  <span>Contact No   :  <p class="same_line">{{e.contact}}</p></span><br>
    <span>Technology   :  <p class="same_line">Jquery,HTML,Bootstrap,ETL</p></span>
     <hr>

      {% endfor %}

</div>
</body>
</html>
<style>

.same_line
{
display: inline;
}
</style>

