{% extends "add_technology/add.html" %} {% load staticfiles %} {% block title %}{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css"/>
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.rtl.min.css"/>
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.silver.min.css"/>
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css"/>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js"></script>
   <script src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>

</head>
<body>
<div class="col-lg-10">
   <h3 >Tecnology Lists</h3>
   <div id="grid" style="width:116%;"></div>
</div>
<script>

function generateGrid(response) {
   var grid = $("#grid").kendoGrid({

   dataSource: {{result_entries|safe}}, // Result from from Django View
    resizable: false,

   sortable: {
     mode: 'multiple',
     allowUnsort: true
  },
  filterable: true,

  pageable: {
    pageSize: 15,
    pageRefresh:true,
  },
  editable: {
     confirmation: "Are you sure that you want to delete this record?",
     mode: 'popup'
  },
columns: [
    {
        field: "id",
        title: 'Id',
        width: "100px",
        defaultValue: null
    },
     {
        field: "technology",
        title: 'Technology',
        defaultValue: null,
         width: "150px"
    },
     {
        field: "digital",
        title: 'Digital',
        defaultValue: null,
         width: "90px"
    },
    {
        field: "apptype",
        title: 'Technology Type',
        defaultValue: null
    },
    {
        field: "app_final",
        title: 'Final Category',
        defaultValue: null
    }
    ],
   sortable: {
     mode: 'multiple',
     allowUnsort: true
},
filterable: true,
   editable:true
});

}

</script>
</body>
{% endblock %}